*{
    text-decoration: none !important;
}

.logo {
    font-size: 2rem !important;
    font-weight: 600;
}

.nav-items {
    font-size: 1.5rem;
}
.navbar{
    min-width: 100%;
}

.productslink {
    text-decoration: none;
    color: white !important;
}

h1{font-weight: 600;}

.container, .container-list {
    padding: 30px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.imgcart {
    display: grid;
    align-items: center;
    justify-content: center;
}
.cont {
    text-align: center;
}

tr {
    width: 100%;
}

.tabela {
    margin:  20px 0px;
}
.product-page{
    display: flex;
    justify-content: space-around;
}

.product-details{
    width: 40%;
    font-size: 1.25rem;
    display: grid;
    gap: 15px;
    margin: 20px;
}
.initial-button {
    margin: 20px;
}
.card {
    text-align: center;
}

a > h5 {
    color: #212529 !important;
    text-decoration: none !important;
}

.img-item{
    width: 450px;
    height: 250px;
}

.cartdiv {
    color: white;
}

@media (max-width: 1400px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 80%;
        margin: auto;
    }

    .img-item{
        width: 450px;
        height: 220px;
    }



    .product-details {
        width: 70%;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }
}

@media (max-width: 1200px) {
    .img-item {
        width: 250px !important;
        height: 210px !important;
    }
}

@media (max-width: 800px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 90%;
        margin: auto;
    }
    .container{
        width: 100%;
        margin: auto;
        padding: 0px;
    }

    .cartrow {
        width: fit-content;
        font-size: 5px;
        overflow: auto
    }

    .img-item {
        width: 280px !important;
        height: 230px !important;
    }

    .product-details {
        width: 80%;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }
    .buttons {
        display: grid !important;
    }
    td{
        min-width: fit-content;
        padding: 0px;
    }
    button {
        width: fit-content;
    }
}


@media (max-width: 600px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 90%;
        margin: auto;
    }

    .img-item {
        width: 250px !important;
        height: 200px !important;
    }

    .product-details {
        width: 80%;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }
    table{
        width: fit-content;
    }
}


@media (max-width: 516px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        
        margin: auto;
    }
    
    .cartrow {
        width: 220px;
        font-size: 5px;
        overflow: auto
    }
    .total {
        margin: 25px !important;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }

    .img-item {
        width: 180px !important;
        height: 130px !important;
    }

    .product-details {
        width: 80%;
    }
    .container  {
        width: 100%;
    }
    table{
        display: grid;
        min-width: fit-content !important;
        place-content: center;
    }
    .table-responsive {
        place-content: center;
    }
    tbody, thead{
        width: 100%;
    }

}
