*{
    text-decoration: none !important;
}

.logo {
    font-size: 2rem !important;
    font-weight: 600;
}

.nav-items {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

h1{font-weight: 600;}

.container, .container-list {
    padding: 30px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.imgcart {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont {
    text-align: center;
}
.cartimg{
    margin-left: 70px;
}
.tabela {
    margin:  20px 0px;
}
.product-page{
    display: flex;
    justify-content: space-around;
}

.product-details{
    width: 40%;
    font-size: 1.25rem;
    display: grid;
    gap: 15px;
    margin: 20px;
}
.initial-button {
    margin: 20px;
}
.card {
    text-align: center;
}

a > h5 {
    color: #212529 !important;
    text-decoration: none !important;
}

.cartdiv {
    color: white;
}

@media (max-width: 1400px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 80%;
        margin: auto;
    }

    .img-item{
        width: 450px;
        height: 280px;
    }

    .product-details {
        width: 70%;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }
}

@media (max-width: 800px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 90%;
        margin: auto;
    }

    .cartrow {
        width: 150px;

    }

    .img-item {
        width: 280px !important;
        height: 230px !important;
    }

    .product-details {
        width: 80%;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }
}


@media (max-width: 600px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 90%;
        margin: auto;
    }

    .img-item {
        width: 300px !important;
        height: 200px !important;
    }

    .product-details {
        width: 80%;
    }
    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }
}


@media (max-width: 400px) {
    .product-page{
        display: grid;
        text-align: center;
        place-items: center;
        width: 90%;
        margin: auto;
    }

    .cartimg {
        width: 60px !important;
        height: 50px !important;
    }

    .img-item {
        width: 180px !important;
        height: 130px !important;
    }

    .product-details {
        width: 80%;
    }
}